{{ partial "header.html" . }}

	<p>{{ .Params.excerpt | safeHTML }}</p>

	<ul>
		<li><div class="rating"><strong>Rating:&nbsp;</strong> {{ partial "rating.html" . }} </div></li>

		{{ if .Params.genre }}<li>{{.Params.year}} &bull; {{ .Params.genre }}
		{{ with .Params.station }}&bull; {{.}}{{ end }}</li>

		{{ if .Params.character }}<li><strong>Character:</strong> {{.Params.character}} ({{.Params.chartype}} character){{ end }}
			{{ if .Params.seasons }}for {{.Params.seasons}} season{{ if gt .Params.seasons "1" }}s{{end}}{{ end }}
			{{ if .Params.episodes }}for {{.Params.episodes}} episode{{ if gt .Params.episodes "1" }}s{{end}} {{ end }}
		{{ $character := .Params.character }}
		{{ range .Site.Data.filmography }}
			{{ if and (eq .character $character) ( .notes ) }}<br /><small>{{ .notes | safeHTML }}</small>{{ end }}
		{{ end }}
		</li>{{ end }}

		{{ with .Params.website }}<li><a href="{{ . }}">Official Website</a></li>{{ end }}
		{{ with .Params.imdb }}<li><a href="{{ . }}">IMDb</a></li>{{ end }}

	</ul>

	{{ .Content }}

{{ partial "footer.html" . }}