{{ partial "header.html" . }}

	<div class="episodeinfobox">
		<div class="tvheader">
			<em><a href="/library/actor/{{ .Params.showslug }}/">{{ .Params.showname }}</a></em>
			<br /><strong>{{ title .Title }}</strong>
			<br /><center>{{ partial "rating.html" . }}</center>
		</div>
		<div class="tvbody">
			<span style="text-align:center;"><a href="/library/actor/{{ .Params.showslug }}-episodes/#season-{{.Params.season}}">Season {{ .Params.season }}</a>, Episode {{ .Params.epnum }}</span>
			<br /><strong>Station (US):</strong> {{ .Params.station }}
			<br /><strong>Air Date (US):</strong> {{ .Date.Format "Jan 02, 2006" }}
			<br /><small><a href="/library/actor/{{ .Params.showslug }}-episodes/">Complete list of {{ .Params.showname }} episodes</a></small>
		</div>
	</div>

	{{ .Content }}

{{ partial "footer.html" . }}