{{ partial "_header.html" . }}

<div class="clearfix">
	<div class="episode-card col-md-6 float-md-end mb-3 ms-md-3" style="width: 5rem;">
		<span class="section-index">{{ partial "svg.html" "book-person" }}</span>
	</div>
	{{ .Content }}
</div>

<ul class="list-group">
{{ range .Data.Pages.ByTitle }}
	{{ if ne .Type "index" }}
		<li class="list-group-item">
			<span class="list-svg">{{ partial "svg" "person" }}</span> <a href="{{ .Permalink }}">{{ .Title }}</a>
			{{ if not .Lastmod.IsZero }}
				{{ $timesince := div (sub now.Unix .Lastmod.Unix) 86400 }}
				{{ if le $timesince 30 }}<span class="badge rounded-pill bg-success">NEW!</span>{{ end }}
			{{ end }}
		</li>
	{{ end }}
{{ end }}
</ul>

{{ partial "_footer.html" . }}
