{{ $season   := .Get "season" }}
{{ $show     := $.Page.Params.show }}
{{ $episodes := (index .Site.Data.episodes $.Page.Params.show).episodes }}

<div class="flf-episode-list">
<table class="table table-borderless">
	<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Airdate</th>
			<th scope="col" style="width: 150px">Rating</th>
		</tr>
	</thead>

	<tbody>
	{{ range where $episodes "season" "==" $season }}
		{{ $goldstar := .rating }}
		<tr class="table-success">
			<th scope="row">{{ .epnum }}</th>
			<th scope="row">"<a href="/library/recaps/{{ $show }}/{{ .slug }}/">{{ .title }}</a>"</th>
			<th scope="row">{{ .airdate | dateFormat "Jan 2, 2006" }}</th>
			<th scope="row"><center>{{ partial "episodelist-rating.html" (dict "context" . "rating" .rating) }}</center></th>
		</tr>
		<tr>
			<td colspan="4">{{ if .summary }}{{ .summary }}{{ else }}<em>TBD.<em>{{ end }}</td>
		</tr>
	{{ end }}
	</tbody>
</table>

<a class="btn btn-outline-success btn-block" href="#toc" role="button">Return to Top</a>
</div>
