{{ partial "header.html" . }}

	{{ range .Data.Pages.ByTitle }}
		{{ if and (eq .Type "index") (ne .Params.topic "index") }}
			{{ .Content }}
		{{ end }}
	{{ end }}

	<div class="jfoinfobox">
		<div class="newsheader"><a href="/library/news/" title="News Articles">News Articles By Year</a></div>
		<div class="newsbody"><ul class="infobox">
		{{ range .Data.Pages.ByDate }}
			{{ if eq .Params.topic "index" }}
				<li><a href="{{ .Permalink }}">{{ .Date.Format "2006" }}</a></li>
			{{ end }}
		{{ end }}
		</ul></div>
	</div>

{{ partial "footer.html" . }}