/* Excerpts... */
.excerpt::after {
  content: "";
  clear: both;
  display: table;
}

/* Stars */

.rating {
    display: inline-flex;
}

.star-rating {
	margin-bottom: 10px;
}

.star-rating object {
    width: 20px;
    height: 20px;
}
svg#grey-star {
    fill: #808080;
}
svg#red-star {
    fill: #F00;
}
svg#gold-star {
    fill: #FFD700;
}

/* Actor Page */

ul.actor-list-group {
    margin-left: 0!important;
}

ul.actor-list-group li.list-group-item {
    padding: 0.5rem;
}

/* Episodes */

div.episode-card {
    max-width: 300px;
    float: right;
    margin: 5px;
}

div.episode-card ul {
    margin-left: 0!important;
}

/* SVG */
.faq-svg svg,
.list-svg svg {
    width: 25px;
    margin: 5px;
}

.search-form label, #search-query {
    width: 90%;
}

.news-footer button {
    margin: 5px;
}

/* Search */

div.card.search-results mark {
    background-color: #ffff66;
    color: inherit!important;
}

/* SVGs in Cards */

.card-svg svg, div.h-100 svg  {
    max-height: 125px;
    margin: .5rem;
}

/* Bootstrap Adjustments */
div.episode-card table, tr, td, th {
    border: 0px!important;
}

div.episode-card .card-header {
    text-align: center;
}

h1.card-header, h2.card-header, h3.card-header, h4.card-header, h5.card-header, h3.accordion-header {
    margin-top: none!important;
}

div.TableOfContents {
    margin: 0.5rem;
}
