/* WordPress */

.social-media{ text-align: center;}
.social-media svg {
	max-width: 50px;
	max-height: 50px;
}

aside#nav_menu-3.widget.widget_nav_menu, aside#nav_menu-2.widget.widget_nav_menu {
	margin-bottom: 0px!important;
}


div.site-above-footer-wrap .widget-title {
	fill: #dddddd;
}

div.site-above-footer-wrap svg:hover {
	fill: #107952;
}

.home figcaption {
	text-align: center;
	text-transform: uppercase;
	font-size: smaller;
}

div.site-below-footer-inner-wrap  a {
	color: #fff;
}
div.site-below-footer-inner-wrap  a:hover {
	color: purple!important;
}

#subscribe-blog-blog_subscription-10 {
	display:inline-flex;
}

@media (min-width: 992px) {
    .ast-col-lg-3 {
        width: 33%!important;
    }
}

@media (min-width: 768px) {
    .ast-col-lg-3 {
        width: 33%!important;
    }
}

#masthead .ast-header-sticked .site-logo-img .astra-logo-svg { width: 50px; } @media (max-width: 768px) { #masthead .ast-header-sticked .site-logo-img .astra-logo-svg { width: px; } } @media (max-width: 544px) { #masthead .ast-header-sticked .site-logo-img .astra-logo-svg { width: 120px; } }

.ast-right-sidebar #secondary { border-left: none!important; }
