---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

	<article class="post-content">

{% if page.showslug == 'csi' %}{% assign episodelist = site.data.episodes-csi %}{% endif %}
{% if page.showslug == 'er' %}{% assign episodelist = site.data.episodes-er %}{% endif %}
{% if page.showslug == 'west-wing' %}{% assign episodelist = site.data.episodes-ww %}{% endif %}
{% if page.showslug == 'missing-persons' %}{% assign episodelist = site.data.episodes-mp %}{% endif %}

{% if page.topic == 'index' %}
<table class="jfoinfobox">

	<thead><tr>
		<th>Ep. Info</th>
		<th>Date</th>
		<th>Episode Title</th>
		<th>Rating</th>
	</tr></thead>
	<tbody>

{% assign episodes = site.recaps | sort: 'date' %}

{% for episode in episodes %}{% if episode.topic != 'index' and episode.showslug == page.showslug %}

{% for thisep in episodelist %}{% if episode.title == thisep.title %}
	{% assign epnum  = thisep.epnum %}
	{% assign season = thisep.season %}
	{% assign rating = thisep.rating %}
{% endif %}{% endfor %}

	<tr>
		<td><small>Season {{ season }}, Ep. {{ epnum }}</small></td>
		<td id="dates">{{ episode.date | date: "%d %b, %Y" }}</td>
		<td><a href="{{ site.baseurl }}{{ episode.url }}">{{ episode.title }}</a></td>
		<td>{% if rating == 'na' %}<i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i>{% else %}{% for i in (1..rating) %}<i style="color:gold;" class="fa fa-star fa-rotate-normal" name="gold star"></i>{% endfor %}{% if 5 > rating %}{% assign greystar = 5 | minus: rating %}{% for i in (1..greystar) %}<i style="color:grey;" class="fa fa-star fa-rotate-normal" name="grey star"></i>{% endfor %}{% endif %}{% endif %}</td>
	</tr>
{% endif %}{% endfor %}
	</tbody>
</table>

{% else %}

{% for thisep in episodelist %}{% if thisep.title == page.title %}
	{% assign rating = thisep.rating %}
	{% assign epnum = thisep.epnum %}
	{% assign season = thisep.season %}
{% endif %}{% endfor %}

<div class="episodeinfobox">
	<div class="tvheader">
		<em><a href="{{ site.baseurl }}/actor/{{ page.showslug }}/">{{ page.showname }}</a></em>
		<br /><strong>{{ page.title }}</strong>
		<br /><center>{% for i in (1..rating) %}<i style="color:gold;" class="fa fa-star fa-rotate-normal" name="star"></i>{% endfor %}{% if 5 > rating %}{% assign greystar = 5 | minus: rating %}{% for i in (1..greystar) %}<i style="color:grey;" class="fa fa-star fa-rotate-normal" name="star"></i>{% endfor %}{% endif %}</center>
	</div>
	<div class="tvbody">
		<span style="text-align:center;">Season {{ season }}, Episode {{ epnum }}</span>
		<br /><strong>Station (US):</strong> {{ page.station }}
		<br /><strong>Air Date (US):</strong> {{ page.date | date: '%B %d, %Y' }}
	</div>

	{% if page.previous or page.next %}
	<div class="tvnextprev">
		<div class="tvprev">{% if page.previous %}
			<em>Previous Ep.</em>
			<br /><a href="/wiki/The_End_Game" title="The End Game">The End Game</a>
		{% endif %}</div>
		<div class="tvnext">{% if page.next %}
			<em>Next Ep.</em>
			<br /><a href="/wiki/Immortality_(Part_2)" title="Immortality (Part 2)">Immortality (Part 2)</a>
		{% endif %}</div>
	</div>
	{% endif %}
</div>
{% endif %}

		{{ content }}
  	</article>

</div>
