		</div></div>
	
		{{ $baseurl := .Site.BaseURL }}
		
		<footer class="entry-footer">
			<!-- start tags -->
			<p class="entry-meta">Filed Under: <strong>
				{{ if .IsPage }}
					{{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}<a href="{{ $baseurl }}/categories/{{ lower . | urlize }}" rel="category">{{ title $e }}</a>{{ end }}
				{{ else }}
					{{ $title := lower .Title }}
					{{ $.Scratch.Set "has_cats" "" }}
					{{ range $key, $taxonomy := .Site.Taxonomies.categories }}
						{{ if eq $key $title }}
							{{ title $title }}
							{{$.Scratch.Set "has_cats" "yes"}}
						{{ end }}
					{{ end }}
		
					{{ $has_cats := $.Scratch.Get "has_cats" }}
					{{ if ne $has_cats "yes" }}
						Index
					{{ end }}
		
				{{ end }}
				</strong></span>
		
				<span class="entry-tags">Tagged With: <strong>
				{{ if .IsPage }}
					{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="{{ $baseurl }}/tags/{{ lower . | urlize }}" rel="tag">{{ title $e }}</a>{{ end }}
				{{ else }}
		
					{{ $title := lower .Title }}
					{{ $.Scratch.Set "has_tags" "" }}
					{{ range $key, $taxonomy := .Site.Taxonomies.tags }}
						{{ if eq $key $title }}
							{{ title $title }}
							{{$.Scratch.Set "has_tags" "yes"}}
						{{ end }}
					{{ end }}
		
					{{ $has_tags := $.Scratch.Get "has_tags" }}
					{{ if ne $has_tags "yes" }}
						Index
					{{ end }}
		
				{{ end }}
				</strong></span>
			</p>
		</footer>
	</article>
	</main>

	{{ partial "sidebar.html" . }}

	</div> <!-- content-sidebar-wrap -->
</div><!-- end wrap --></div> <!-- end .site-inner -->

<div class="footer-widgets" id="genwpacc-genesis-footer-widgets">
	<div class="wrap">
		<div class="footer-widgets-1 widget-area">
			<section id="text-11" class="widget widget_text"><div class="widget-wrap">
				<h4 class="widget-title widgettitle">Follow Jorja</h4>
				<div class="textwidget">
					<a href="http://jorjafox.com/" title="Jorja's Website"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewbox="0 0 24 24"><path d="m23.633 9.518-1.633-1.337v-6.181h-4v2.909l-6-4.909-11.633 9.518c-.427.351-.49.98-.141 1.407.35.429.979.489 1.407.142l.367-.301v11.234c0 1.105.895 2 2 2h5v-6c0-1.657 1.343-3 3-3s3 1.343 3 3v6h5c1.105 0 2-.895 2-2v-11.234l.367.3c.186.151.41.226.633.226.29 0 .577-.125.774-.367.35-.427.287-1.057-.141-1.407z"></path></svg><span class="screen-reader-text">Home</span></a>
					<a href="https://www.facebook.com/JorjaFoxWorldwide" title="Jorja on Facebook"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"/></svg><span class="screen-reader-text">Facebook</span></a>
					<a href="http://twitter.com/jorjafoxofficia" title="Jorja on Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg><span class="screen-reader-text">Twitter</span></a>
				</div>
			</div></section>
		</div>
		<div class="footer-widgets-2 widget-area">
			<section id="search-2" class="widget widget_search"><div class="widget-wrap">
				<h4 class="widget-title widgettitle">Search</h4>
				{{ partial "search.html" . }}
			</div></section>
		</div>
		<div class="footer-widgets-3 widget-area">
			<section id="text-10" class="widget widget_text"><div class="widget-wrap">
				<h4 class="widget-title widgettitle">Follow Us</h4>
				<div class="textwidget">
					<a href="https://www.facebook.com/JFO.Fans" title="Facebook"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"/></svg><span class="screen-reader-text">Facebook</span></a>
					<a href="https://google.com/+JorjafoxNet" title="Google+"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM164 356c-55.3 0-100-44.7-100-100s44.7-100 100-100c27 0 49.5 9.8 67 26.2l-27.1 26.1c-7.4-7.1-20.3-15.4-39.8-15.4-34.1 0-61.9 28.2-61.9 63.2 0 34.9 27.8 63.2 61.9 63.2 39.6 0 54.4-28.5 56.8-43.1H164v-34.4h94.4c1 5 1.6 10.1 1.6 16.6 0 57.1-38.3 97.6-96 97.6zm220-81.8h-29v29h-29.2v-29h-29V245h29v-29H355v29h29v29.2z"/></svg><span class="screen-reader-text">Google+</span></a>
					<a href="http://twitter.com/LeFoxFans" title="Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg><span class="screen-reader-text">Twitter</span></a>
					<a href="https://lefoxfans.tumblr.com" title="Tumblr"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-82.3 364.2c-8.5 9.1-31.2 19.8-60.9 19.8-75.5 0-91.9-55.5-91.9-87.9v-90h-29.7c-3.4 0-6.2-2.8-6.2-6.2v-42.5c0-4.5 2.8-8.5 7.1-10 38.8-13.7 50.9-47.5 52.7-73.2.5-6.9 4.1-10.2 10-10.2h44.3c3.4 0 6.2 2.8 6.2 6.2v72h51.9c3.4 0 6.2 2.8 6.2 6.2v51.1c0 3.4-2.8 6.2-6.2 6.2h-52.1V321c0 21.4 14.8 33.5 42.5 22.4 3-1.2 5.6-2 8-1.4 2.2.5 3.6 2.1 4.6 4.9l13.8 40.2c1 3.2 2 6.7-.3 9.1z"/></svg><span class="screen-reader-text">Tumblr</span></a>
				</div>
			</div></section>
		</div>
	</div>
</div>

<nav class="nav-footer" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" id="genwpacc-genesis-nav-footer"><div class="wrap">
	<ul id="menu-footer" class="menu genesis-nav-menu menu-footer">
		<li id="menu-item-3597" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3597"><a href="{{ .Site.Params.HomeURL }}/tos/">Terms of Use</a></li>
		<li id="menu-item-3598" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3598"><a href="{{ .Site.Params.HomeURL }}/tos/copyrights/">Copyright</a></li>
		<li id="menu-item-3599" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3599"><a href="{{ .Site.Params.HomeURL }}/tos/privacy/">Privacy Policy</a></li>
	</ul>
</div></nav>

<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="wrap"><p>Copyright &copy; 1996-{{ (time now).Year }} <em><a href="/">Fans of LeFox</a></em><br />Powered by <a href="http://gohugo.io/">Hugo</a> & <a href="http://www.shareasale.com/r.cfm?b=778546&u=728549&m=61628&urllink=&afftrack=">Utility Pro</a> & <a href="http://shareasale.com/r.cfm?b=242694&u=728549&m=28169&urllink=&afftrack=">Genesis Framework</a>.<br>Hosted by <a href="https://liquidweb.evyy.net/c/294289/297312/4464">Liquidweb</a>.</p></div>
</footer>

<div id="bit" class="">
	<a class="bsub" href="javascript:void(0)"><span id="bsub-text">Follow Us</span></a>
	<div id="bitsubscribe">
		<div class="widget-wrap">
			<p>Want the latest news about Jorja (and Fans of LeFox) in your in-box ASAP? <a href="/updates/">Sign up for email updates</a> and they're yours!</p>
			<a href="/updates/"><input type="submit" value="Sign me up!" name="jetpack_subscriptions_widget"></a>
		</div>
	</div>
</div>

</div> <!-- End Site-container -->

<script type='text/javascript' src='{{ .Site.Params.StaticURL }}/content/code/js/catsignal.js'></script>

</body></html>