<div class="star-rating"><a href="/library/faq/grading">
{{ if eq .Params.rating 0 }}
<i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i>
{{ else if eq .Params.rating 1 }}
<i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i>
{{ else if eq .Params.rating 2 }}
<i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i>
{{ else if eq .Params.rating 3 }}
<i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i>
{{ else if eq .Params.rating 4 }}
<i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:grey;" class="fa fa-star" name="star"></i>
{{ else if eq .Params.rating 5 }}
<i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i><i style="color:gold;" class="fa fa-star" name="star"></i>
{{ else }}
<i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i><i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i>
{{end}}
</a></div>