{{ partial "_header.html" . }}

	{{ $showslug  := .Params.slug }}
	{{ $showtitle := .Params.title }}

	{{ $showdata := newScratch }}

	{{ range $.Page.Site.Data.filmography }}
		{{ if and (eq $showslug .slug) (eq $showtitle .title) }}

			{{ if eq .unverified true }}
				<div class="alert alert-danger" role="warning"><em>Jorja Fox's appearance in this is unverified. If you have information that can confirm, please <strong><a href="https://jorjafox.net/contact/">contact us</a></strong>, and be sure to cite your source.</em></div>
			{{ end }}

			{{ if .excerpt }}<p>{{ .excerpt | safeHTML }}</p>{{ end }}
			{{ $showdata.Set "character" .character }}
			{{ $showdata.Set "year" .dates }}
			{{ $showdata.Set "chartype" .chartype }}
			{{ $showdata.Set "rating" .rating }}
			{{ $showdata.Set "genre" .genre }}
			{{ $showdata.Set "station" .station }}
			{{ $showdata.Set "seasons" .seasons }}
			{{ $showdata.Set "episodes" .episodes }}
			{{ $showdata.Set "notes" .notes }}
			{{ $showdata.Set "jorjan" .jorjan }}
			{{ $showdata.Set "watch" .watch }}
		{{ end }}
	{{ end }}

	{{ $character := $showdata.Get "character" }}
	{{ $chartype := $showdata.Get "chartype" }}
	{{ $rating := $showdata.Get "rating" }}
	{{ $year := $showdata.Get "year" }}
	{{ $genre := $showdata.Get "genre" }}
	{{ $station := $showdata.Get "station" }}
	{{ $seasons := $showdata.Get "seasons" }}
	{{ $episodes := $showdata.Get "episodes" }}
	{{ $notes := $showdata.Get "notes" }}
	{{ $jorjan := $showdata.Get "jorjan" }}
	{{ $watch := $showdata.Get "watch" }}

	<!-- Excerpt/Details -->

	<div class="card mb-3">
		<div class="row no-gutters">
			<div class="col-md-12">
				<div class="card-header">
					<h5 class="card-title">
						{{ if and ($rating) (ne $rating "fake") }}
							<div class="float-end">
							{{ .Page.Scratch.Set "goldstar" $rating }}
							{{ partial "rating.html" . }}
							</div>
						{{ end }}
						{{ if $character }}{{ $character }} {{ if $chartype }}<small> ({{ $chartype }} character){{ end }}</small>{{ end }}
					</h5>
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-md-6">
				<div class="card-body">
					<img src="{{ .Params.image | default "images/placeholder.png" | absURL }}" alt="{{ .Params.character }}" width="300px" class="img-thumbnail rounded">
				</div>
			</div>
			<div class="col-md-6">
				<div class="card-body">
					<ul class="list-group list-group-flush actor-list-group">
						{{ if $year }}<li class="list-group-item">{{ $year }}{{ if $genre }} &bull; {{ $genre }}{{ end }}</li>{{ end }}
						<li class="list-group-item">
							{{ if $station }}{{ $station }}{{ end }}
							{{ if .Params.website }}&bull; <a href="{{ .Params.website }}" target="_blank"><span class="list-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Official Website">{{ partial "svg.html" "world" }}</span></a>{{ end }}{{ if .Params.imdb }}&bull; <a href="{{ .Params.imdb }}" target="_blank"><span class="list-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="IMDb">{{ partial "svg.html" "imdb" }}</span></a>{{ end }}
						</li>
						{{ if or $seasons $episodes $notes $jorjan }}<li class="list-group-item">
							{{ if $seasons }}for {{$seasons}} season{{ if gt $seasons "1" }}s{{end}}{{ end }}{{ if $episodes }}for {{$episodes}} episode{{ if gt $episodes "1" }}s{{end}}{{ end }}
							{{ if $jorjan }} <small>[Credited as Jorjan Fox]</small>{{ end }}
							{{ if $notes }}<br /><small>{{ $notes | safeHTML }}</small>{{ end }}
						</li>{{ end }}
						{{ if or .Params.gallery .Params.episodelist }}<li class="list-group-item">
						<center>
						{{ if .Params.gallery }}
							<a href="{{.Params.gallery}}" target="_blank"><span class="list-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Gallery Available">{{ partial "svg.html" "camera-retro" }}</span></a>
						{{ else }}
							<span class="list-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="No Gallery Available">{{ partial "svg.html" "camera-off" }}</span>
						{{ end }}
						&bull;
						{{ if .Params.episodelist }}
							<a href="/library/actor/{{ .File.TranslationBaseName }}-episodes/"><span class="list-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="List of Episodes">{{ partial "svg.html" "writing" }}</span></a>
						{{ end }}
						</center>
						</li>{{ end }}
						{{ if $watch }}<li class="list-group-item"><center><a href="{{ $watch }}" target="_blank"><button type="button" class="btn btn-primary">Watch Online</button></a></center></li>{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{ .Content }}

{{ partial "_footer.html" . }}
