{{ partial "header.html" . }}

	{{ if .Params.excerpt }}<p>{{ .Params.excerpt | safeHTML }}</p>{{ end }}

	<!-- Excerpt/Details -->
	<div class="wp-block-columns has-2-columns are-vertically-aligned-top">
		<div class="wp-block-column">
			<div class="aligncenter">
				<h5>{{ if .Params.character }}{{.Params.character}} {{ if .Params.chartype }} ({{.Params.chartype}} character){{ end }}{{ end }}</h5>
			</div>

			<div class="wp-block-image">
				{{ if .Params.image }}<img src="{{ .Params.image | absURL }}" alt="{{ .Params.character }}" width="300px">{{ end }}
			</div>
		</div>
		<div class="wp-block-column">
			<div class="aligncenter">
				{{ if .Params.rating }}
					{{ .Page.Scratch.Set "goldstar" .Params.rating }}
					{{ partial "rating.html" . }}
				{{ end }}
			</div>

			<ul>
				<li>
					{{ if .Params.year }}{{.Params.year}}{{ end }}
					{{ if .Params.genre }}{{ if .Params.year }} &bull; {{ end }}{{ .Params.genre }}{{ end }}
					{{ if .Params.station }}<br />{{ .Params.station }}{{ end }}
					{{ if .Params.website }}{{ if .Params.station }} &bull; {{ else }} <br /> {{ end }}<a href="{{ .Params.website }}" target="_blank">Official Website</a>{{ end }}
					{{ if .Params.imdb }}{{ if .Params.station }} &bull; {{ else }} <br /> {{ end }}<a href="{{ .Params.imdb }}" target="_blank">IMDb</a>{{ end }}
				</li>
			</ul>
			<ul>
				<li>
				{{ if .Params.seasons }}for {{.Params.seasons}} season{{ if gt .Params.seasons "1" }}s{{end}}{{ end }}
				{{ if .Params.episodes }}for {{.Params.episodes}} episode{{ if gt .Params.episodes "1" }}s{{end}}{{ end }}
				{{ $character := .Params.character }}
				{{ range .Site.Data.filmography }}
					{{ if and (eq .character $character) ( .notes ) }}<br /><small>{{ .notes | safeHTML }}</small>{{ end }}
				{{ end }}
				</li>
				{{ if .Params.gallery }}<li><a href="{{.Params.gallery}}">Gallery</a></li>{{ end }}
			</ul>
		</div>
	</div>

	{{ .Content }}

{{ partial "footer.html" . }}
