{{ partial "_header.html" . }}

<div class="card">
	{{ if .Params.newsurl }}
	<div class="card-header">
		<strong>{{.Params.newstitle}}</strong><br />{{ .Date.Format "January 02, 2006" }}
	</div>
	{{ end }}
	<div class="card-body">
		{{ .Content }}
	</div>

	{{ if .Params.newsurl }}
	<div class="card-footer">
		<strong>By:</strong> {{.Params.newsauthor}} | <strong>Source:</strong> <a href="{{.Params.newsurl}}" target="_blank">{{.Params.newssource}}</a>
	</div>
	{{ end }}
</div>

{{ partial "news-footer.html" . }}

{{ partial "_footer.html" . }}
