{{ partial "_header.html" . }}

<div class="card newsarticle">
	{{ if .Params.newsurl }}
	<div class="card-header">
		<strong>{{.Params.newstitle}}</strong> &mdash; {{ .Date.Format "January 02, 2006" }}
	</div>
	{{ end }}
	<div class="card-body">
		{{ .Content }}
	</div>

	{{ if .Params.newsurl }}
	<div class="card-footer">
		&copy; {{.Params.newsauthor}} "{{.Params.newstitle}}", <em><a href="{{.Params.newsurl}}" target="_blank">{{.Params.newssource}}</a></em>, {{ .Date.Format "January 02, 2006" }}
	</div>
	{{ end }}
</div>

{{ partial "footers/news.html" . }}

{{ partial "_footer.html" . }}
