{{ partial "header.html" . }}

<div class="episode-card">
	<div class="card" style="width: 20rem;">
		<div class="card-header">
			<strong>"{{ title .Title }}"</strong> <small>(<em><a href="/library/actor/{{ .Params.showslug }}/">{{ .Params.showname }}</a></em> Episode)</small>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><a href="/library/actor/{{ .Params.showslug }}-episodes/#season-{{.Params.season}}">Season {{ .Params.season }}</a>, Episode {{ .Params.epnum }}</li>
			<li class="list-group-item">{{ partial "rating-recap-tv.html" . }}</li>
			<li class="list-group-item"><strong>Original Air Date (US):</strong> {{ .Date.Format "Jan 02, 2006" }}</li>
			<li class="list-group-item"><small><a href="/library/actor/{{ .Params.showslug }}-episodes/">Complete list of {{ .Params.showname }} episodes</a></small></li>

		</ul>
	</div>
</div>

{{ .Content }}

{{ partial "footer.html" . }}
