{{ partial "header.html" . }}

<div class="episode-card">
	<div class="card" style="width: 20rem;">
		<h5 class="card-header">"{{ title .Title }}"</h5>
		<div class="card-body">
			<center>
				{{ partial "recap-tv-rating.html" . }}
				{{ partial "recap-tv-gallery.html" . }}
			</center>
			<strong><small><em><a href="/library/actor/{{ .Params.showslug }}/">{{ .Params.showname }}</a></em> Episode</small></strong>
			<table class="table table-sm table-borderless">
				<tbody class="table-borderless">
				<tr>
					<th>Episode no.</th>
					<td><a href="/library/actor/{{ .Params.showslug }}-episodes/#season-{{.Params.season}}">Season {{ .Params.season }}</a><br />Episode {{ .Params.epnum }}
				</tr>
				{{ if .Params.prodnum}}
					<tr>
						<th>Production code</th>
						<td>{{ .Params.prodnum }}</td>
					</tr>
				{{ end }}
				<tr>
					<th>Original air date</th>
					<td>{{ .Date.Format "02 January 2006" }}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="card-footer"><center>
			<strong>Episode Chronology</strong>
		</center></div>
		<div class="card-body">
			{{ partial "recap-tv-chronology.html" . }}
			<small><a href="/library/actor/{{ .Params.showslug }}-episodes/">Complete list of {{ .Params.showname }} episodes</a></small>
		</div>
	</div>
</div>

{{ .Content }}

{{ partial "footer.html" . }}
