{{ partial "header.html" . }}

	<table class="">
		<tr>
			<td class="tvheader">
				<h5><a href="/library/actor/{{ .Params.showslug }}/">{{ .Params.showname }}</a></h5>

				<h6>{{ title .Title }}</h6>

				{{ partial "rating-recap-tv.html" . }}
			</td>

			<td class="tvinfo">
				<h6><a href="/library/actor/{{ .Params.showslug }}-episodes/#season-{{.Params.season}}">Season {{ .Params.season }}</a>, Episode {{ .Params.epnum }}</h6>

				<ul>
					<li><strong>Station (US):</strong> {{ .Params.station }}</li>
					<li><strong>Air Date (US):</strong> {{ .Date.Format "Jan 02, 2006" }}</li>
					<li><small><a href="/library/actor/{{ .Params.showslug }}-episodes/">Complete list of {{ .Params.showname }} episodes</a></small></li>
				</ul>
			</td>
		</tr>
	</table>


	{{ .Content }}

{{ partial "footer.html" . }}
