{{ partial "header.html" . }}

	{{ if not .Params.notoc }}
		<div class="accordion table-of-contents" id="accordionTOC">
			<div class="accordion-item">
				<div class="card">
					<div class="card-header" id="headingTOC">
						<h2 class="mb-0 accordion-header">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapseTOC" aria-expanded="true" aria-controls="collapseTOC"><a name="toc">Contents</a></button>
						</h2>
					</div>
					<div id="collapseTOC" class="collapse" aria-labelledby="headingTOC" data-parent="#accordionTOC">
						<div class="card-body">{{ .TableOfContents }}</div>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
	{{ .Content }}

{{ partial "footer.html" . }}
