{{ partial "_header.html" . }}

	{{ if not .Params.notoc }}
		<div class="accordion table-of-contents" id="accordionTOC">
			<div class="accordion-item">
				<div class="card">
					<div class="card-header" id="headingTOC">
						<h3 class="mb-0 accordion-header">
							<span class="btn btn-block text-left" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapseTOC" aria-expanded="true" aria-controls="collapseTOC"><a name="toc">Contents</a></span>
						</h3>
					</div>
					<div id="collapseTOC" class="collapse" aria-labelledby="headingTOC" data-parent="#accordionTOC">
						<div class="card-body">{{ .TableOfContents }}</div>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
	{{ .Content }}

{{ partial "_footer.html" . }}
