<div style="width:100%;">
<div class="jfoinfobox">
<div class="tvheader csi"><i><a href="{{ site.baseurl }}Advocacy" title="Advocacy">Advocacy</a></i></div>
<div class="tvbody csi" style="border-bottom: 1px solid #aaa;">
<p><a href="{{ site.baseurl }}Category:Animal_Rights" title="Category:Animal Rights">Animal Rights</a> • <a href="{{ site.baseurl }}Category:Charity" title="Category:Charity">Charity</a> • <a href="{{ site.baseurl }}Category:Environmentalism" title="Category:Environmentalism">Environmentalism</a> • <a href="{{ site.baseurl }}Category:Health" title="Category:Health">Health</a> • <a href="{{ site.baseurl }}Category:Human_Rights" title="Category:Human Rights">Human Rights</a> • <a href="{{ site.baseurl }}Category:Humanity" title="Category:Humanity">Humanity</a> • <a href="{{ site.baseurl }}Category:Politics" title="Category:Politics">Politics</a> • <a href="{{ site.baseurl }}Category:PSA" title="Category:PSA">PSA</a> • <a href="{{ site.baseurl }}Category:Unions" title="Category:Unions">Unions</a>
</p>
</div>
</div>
</div>