		<aside class="sidebar sidebar-primary widget-area" role="complementary" itemscope="itemscope" itemtype="http://schema.org/WPSideBar" id="genwpacc-sidebar-primary">

            <section id="text-8" class="widget widget_text"><div class="widget-wrap">
                <div class="textwidget">
	                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Responsive -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-7868382837959636"
					     data-ad-slot="8167384707"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>

					<br /><a href="http://www.liquidweb.com/?RID=JFO123"><img src="//rgfx.liquidweb.com/banners/poweredby.gif" alt="Managed Web Hosting by Liquid Web" border=0 width=325 height=38></a>
				</div>
            </div></section>

            <section id="nav_menu-3" class="widget widget_nav_menu"><div class="widget-wrap">
                <div class="menu-secondary-container"><ul id="menu-secondary" class="menu">
                    <li id="menu-item-4227" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4227"><a href="/contact/">Contact Us</a></li>
                    <li id="menu-item-4226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4226"><a href="/library/faq/">Frequently Asked Questions</a></li>
                </ul></div>
            </div></section>

            <section id="text-5" class="widget widget_text"><div class="widget-wrap">
                <div class="textwidget">
                    <div class="adboxes-sidebar">
	                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Skyscraper -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:300px;height:600px"
						     data-ad-client="ca-pub-7868382837959636"
						     data-ad-slot="1689081509"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
                </div>
            </div></section>
</aside>
