---
layout: default
title:  "CSI: Crime Scene Investigation (season 1)"
date:   2000-09-20 20:08:20
categories: television
tags: csi
---

CSI: Crime Scene Investigation's first season took place between September 2000 and May 2000.

This season began with CSI airing Friday nights at 9 PM Eastern, following the much lauded new series, ''The Fugitive.''  While the lead-in show fared poorly (and was canceled), CSI moved to Thursday nights at 9 PM Eastern and took on the NBC Must See TV comedy line-up.

<table class="episodelist">

<tbody><tr>
<th> # </th>
<th> Title </th>
<th> Airdate </th>
<th>Rating
</th></tr>
{% for episode in site.data.csi-01 %}
	<tr class="episodelist-name">
		<td style="text-align: center">{{ episode.epnum }}</td>
		<td style="text-align: left"> "<a href="{{ site.baseurl }}{{ episode.title }}" title="{{ episode.title }}">{{ episode.title }}</a>"</td>
		<td>{{ episode.airdate }}</td>
		<td>
		{% for i in (1..episode.rating) %}<i style="color:gold;" class="fa fa-star fa-lg fa-rotate-normal" name="star"></i>{% endfor %}
		{% if 5 > episode.rating %}
			{% assign greystar = 5 | minus: episode.rating %}
			{% for i in (1..greystar) %}<i style="color:grey;" class="fa fa-star fa-lg fa-rotate-normal" name="star"></i>{% endfor %}
		{% endif %}
		</td>
	</tr>
	<tr class="episodelist-summary">
		<td colspan="4">{{ episode.summary }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
