{{ $season := .Get "season" }}
{{ $show := $.Page.Params.show }}

<table class="episodelist">
<tbody>
<tr>
	<th>#</th>
	<th>Title</th>
	<th>Airdate</th>
	<th id="dates">Rating</th>
</tr>

{{ range $.Page.Site.Data.episodes }}
	{{ if eq .show $show }}
		{{ range where .episodes "season" "==" $season }}

			{{ $goldstar := seq .rating }}
			{{ $goldstar := len $goldstar }}

			<tr class="episodelist-name">
				<td style="text-align: center">{{ .epnum }}</td>
				<td style="text-align: left">"<a href="/library/recaps/{{ $show }}/{{ .slug }}/">{{ .title }}</a>"</td>
				<td id="dates">{{ .airdate | dateFormat "Jan 2, 2006" }}</td>
				<td><div class="star-rating"><a href="/library/faq/grading" title="Star Rating: {{ .Params.rating }}">{{ if ge $goldstar "0" }}{{ range $star, seq $goldstar }}<i style="color:gold;" class="fa fa-star" name="star"></i>{{ end }}{{ $greystar := sub 5 $goldstar }}{{ range $star, seq $greystar }}<i style="color:grey;" class="fa fa-star" name="star"></i>{{ end }}{{ else }}{{ range $star, seq 5 }}<i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i>{{ end }}{{ end }}</a></div></td>
			</tr>

			{{ if .summary }}
			<tr class="episodelist-summary">
				<td colspan="4">{{ .summary }}</td>
			</tr>
			{{ end }}
		{{end}}
	{{ end }}
{{ end }}

</tbody>
</table>