<div class="site-container"><h2 class="screen-reader-text">Skip links</h2>

<ul class="wpacc-genesis-skip-link">
  <li><a href="#genwpacc-genesis-nav-primary" class="screen-reader-shortcut">Skip to primary navigation</a></li>
  <li><a href="#genwpacc-genesis-content" class="screen-reader-shortcut">Skip to content</a></li>
  <li><a href="#genwpacc-sidebar-primary" class="screen-reader-shortcut">Skip to primary sidebar</a></li>
  <li><a href="#genwpacc-genesis-footer-widgets" class="screen-reader-shortcut">Skip to footer widgets</a></li>
  <li><a href="#genwpacc-genesis-nav-footer" class="screen-reader-shortcut">Skip to footer navigation</a></li>
</ul>

{% include utility-bar.html %}

<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="wrap">
		<div class="title-area"><h1 class="site-title" itemprop="headline"><a href="/">Jorja Fox: Online</a></h1>
		<p class="site-description" itemprop="description">A fansite for LeFox, Jorja Fox</p></div>
		<aside class="widget-area header-widget-area"><section id="text-17" class="widget widget_text"><div class="widget-wrap"><div class="textwidget"><img src="//jfo-static.net/content/code/rotate.php"></div>
		</div></section></aside>
	</div>
</header><!--end #header-->

<nav class="nav-primary" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" id="genwpacc-genesis-nav-primary">
	<div class="wrap">
		<ul id="menu-header" class="menu genesis-nav-menu menu-primary">
			<li id="menu-item-6105" class="menu-home menu-item menu-item-type-custom menu-item-object-custom menu-item-6105"><a href="/">Home</a></li>
			<li id="menu-item-3622" class="menu-photos menu-item menu-item-type-custom menu-item-object-custom menu-item-3622"><a href="/gallery">Photos</a></li>
			<li id="menu-item-3623" class="menu-videos menu-item menu-item-type-custom menu-item-object-custom menu-item-3623"><a href="/video/">Videos</a></li>
			<li id="menu-item-3624" class="menu-library menu-item menu-item-type-custom menu-item-object-custom menu-item-3624"><a href="/library/">Library</a></li>
		</ul>
	</div>
</nav>