	<div class="widget-area secondary" id="secondary" role="complementary" itemtype="https://schema.org/WPSideBar" itemscope="itemscope">
		<div class="sidebar-main">

			<aside id="nav_menu-3" class="widget widget_nav_menu">
				<h2 class="widget-title">Jorja Fox</h2>
				<div class="menu-sidebar-container">
					<ul id="menu-sidebar" class="menu">
						<li id="menu-item-14522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14522"><a href="/library/biographies/" class="menu-link">Who is Jorja Fox?</a></li>
						<li id="menu-item-14522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14522"><a href="/library/filmography/" class="menu-link">Filmography</a></li>
						<li id="menu-item-14522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14522"><a href="/library/seafox/" class="menu-link">Seafox Productions</a></li>
						<li id="menu-item-14522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14522"><a href="http://jorjafox.com/" class="menu-link">Official Website</a></li>
					</ul>
				</div>
			</aside>

			<aside id="block-12" class="widget widget_block">
				<div class="social-media">
					<a href="https://www.facebook.com/JorjaFoxWorldwide" title="Jorja on Facebook"><svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:#3b5998}</style><path fill="#3b5998" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg><span class="screen-reader-text">Facebook</span></a>&nbsp;
					<a href="https://twitter.com/jorjafoxofficia" title="Jorja on Twitter/X"><svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:#14171A}</style><path fill="#14171A" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg><span class="screen-reader-text">Twitter/X</span><span class="screen-reader-text">Twitter/X</span></a>&nbsp;
				</div>
			</aside>

			<aside id="nav_menu-2" class="widget widget_nav_menu">
				<h2 class="widget-title">Fans of LeFox</h2>
				<div class="menu-sidebar-container">
					<ul id="menu-sidebar" class="menu">
						<li id="menu-item-14522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14522"><a href="https://jorjafox.net/about/" class="menu-link">About This Site</a></li>
						<li id="menu-item-13468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13468"><a href="https://jorjafox.net/contact/" class="menu-link">Contact Us</a></li>
						<li id="menu-item-15250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15250"><a href="https://jorjafox.net/updates/" class="menu-link">Subscribe</a></li>
						<li id="menu-item-13469" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13469"><a href="https://jorjafox.net/library/faq/" class="menu-link">Frequently Asked Questions</a></li>
					</ul>
				</div>
			</aside>

			<aside id="block-13" class="widget widget_block">
				<div class="social-media">
					<a href="https://lefoxfans.tumblr.com/" title="Fans of LeFox on Tumblr"><svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:#35465C}</style><path fill="#35465C" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-82.3 364.2c-8.5 9.1-31.2 19.8-60.9 19.8-75.5 0-91.9-55.5-91.9-87.9v-90h-29.7c-3.4 0-6.2-2.8-6.2-6.2v-42.5c0-4.5 2.8-8.5 7.1-10 38.8-13.7 50.9-47.5 52.7-73.2.5-6.9 4.1-10.2 10-10.2h44.3c3.4 0 6.2 2.8 6.2 6.2v72h51.9c3.4 0 6.2 2.8 6.2 6.2v51.1c0 3.4-2.8 6.2-6.2 6.2h-52.1V321c0 21.4 14.8 33.5 42.5 22.4 3-1.2 5.6-2 8-1.4 2.2.5 3.6 2.1 4.6 4.9l13.8 40.2c1 3.2 2 6.7-.3 9.1z"/></svg></a>&nbsp;
					<a href="https://www.facebook.com/JFO.Fans" title="Fans of LeFox on Facebook"><svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:#3b5998}</style><path fill="#3b5998" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg><span class="screen-reader-text">Facebook</span></a>&nbsp;
					<a href="https://twitter.com/LeFoxFans" title="Fans of LeFox on Twitter/X"><svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:#14171A}</style><path fill="#14171A" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg><span class="screen-reader-text">Twitter/X</span><span class="screen-reader-text">Twitter/X</span></a>&nbsp;
				</div>
			</aside>
		</div>
	</div>
