{{ $grade := print .rating "-gold" }}
{{ if eq .rating "na" }}{{ $grade = "red" }}{{ end }}
<a href="/library/faq/grading/#{{ $grade }}-stars" title="Star Rating: {{ .rating }}">

    {{ if eq .rating "na" }}
        {{ range $star, $seqstar := ( seq 5 ) }}
            <span class="star-rating star-red">{{ partial "svg.html" "star" }}</span>
        {{ end }}
    {{ else }}
        {{ $count := sub 5 ( int .rating ) }}
        {{ range $stargold, $seqgold := ( seq .rating ) }}
            <span class="star-rating star-gold">{{ partial "svg.html" "star" }}</span>
        {{ end }}
        {{ range $stargrey, $seqgrey := ( seq $count ) }}
            <span class="star-rating star-grey">{{ partial "svg.html" "star" }}</span>
        {{ end }}
    {{ end }}
</a>
