						<!-- Content Ends -->
						</article>
					</main>
				</div> <!-- content-area primary -->

				{{ partial "sidebar.html" . }}

			</div> <!-- ast-container -->
		</div> <!-- site-content -->

		<p>&nbsp;</p>

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Horizontal (Responsive) -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-7868382837959636"
			 data-ad-slot="3514530332"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<p>&nbsp;</p>

		<footer class="site-footer" id="colophon" itemtype="https://schema.org/WPFooter" itemscope="itemscope" itemid="#colophon">
			<div class="footer-adv footer-adv-layout-4">
				<div class="footer-adv-overlay">
					<div class="ast-container">
						<div class="ast-row">
							<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-1">
								<div id="custom_html-7" class="widget_text widget widget_custom_html">
									<h2 class="widget-title">Follow Jorja</h2>
									<div class="textwidget custom-html-widget">
										<a href="http://jorjafox.com/" title="Jorja's Website"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-h-square fa-w-14 fa-3x"><path d="M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-112 48h-32c-8.837 0-16 7.163-16 16v80H160v-80c0-8.837-7.163-16-16-16h-32c-8.837 0-16 7.163-16 16v224c0 8.837 7.163 16 16 16h32c8.837 0 16-7.163 16-16v-80h128v80c0 8.837 7.163 16 16 16h32c8.837 0 16-7.163 16-16V144c0-8.837-7.163-16-16-16z" class=""></path></svg><span class="screen-reader-text">Home</span></a>
										<a href="https://www.facebook.com/JorjaFoxWorldwide" title="Jorja on Facebook"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"></path></svg><span class="screen-reader-text">Facebook</span></a>
										<a href="https://twitter.com/jorjafoxofficia" title="Jorja on Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path></svg><span class="screen-reader-text">Twitter</span></a>
									</div>
								</div>
							</div>
							<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-2">
								<div id="search-2" class="widget widget_search"><h2 class="widget-title">Search</h2>
									<!-- Search -->
									<form role="search" class="search-form" action="{{ "search" | absURL }}">

										<label>
										<span class="screen-reader-text">Search for:</span>
										<input id="search-query" name="s" type="search" class="search-field" placeholder="Search …" value="" />
									</form>
								</div>
							</div>
							<div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-3">
								<div id="custom_html-19" class="widget_text widget widget_custom_html">
									<h2 class="widget-title">Follow Us</h2>
									<div class="textwidget custom-html-widget">
										<a href="https://www.facebook.com/JFO.Fans" title="Fans of LeFox on Facebook"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"></path></svg><span class="screen-reader-text">Facebook</span></a>
										<a href="https://twitter.com/LeFoxFans" title="Fans of LeFox on Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path></svg><span class="screen-reader-text">Twitter</span></a>
										<a href="https://lefoxfans.tumblr.com/" title="Fans of LeFox on Tumblr"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-82.3 364.2c-8.5 9.1-31.2 19.8-60.9 19.8-75.5 0-91.9-55.5-91.9-87.9v-90h-29.7c-3.4 0-6.2-2.8-6.2-6.2v-42.5c0-4.5 2.8-8.5 7.1-10 38.8-13.7 50.9-47.5 52.7-73.2.5-6.9 4.1-10.2 10-10.2h44.3c3.4 0 6.2 2.8 6.2 6.2v72h51.9c3.4 0 6.2 2.8 6.2 6.2v51.1c0 3.4-2.8 6.2-6.2 6.2h-52.1V321c0 21.4 14.8 33.5 42.5 22.4 3-1.2 5.6-2 8-1.4 2.2.5 3.6 2.1 4.6 4.9l13.8 40.2c1 3.2 2 6.7-.3 9.1z"></path></svg><span class="screen-reader-text">Tumblr</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ast-small-footer footer-sml-layout-2">
				<div class="ast-footer-overlay">
					<div class="ast-container">
						<div class="ast-small-footer-wrap">
							<div class="ast-row ast-flex">
								<div class="ast-small-footer-section ast-small-footer-section-1 ast-small-footer-section-equally ast-col-md-6 ast-col-xs-12">
									Copyright © 1996 — {{ (time now).Year }} <span class="ast-footer-site-title">Fans of LeFox</span>
								</div>
								<div class="ast-small-footer-section ast-small-footer-section-2 ast-small-footer-section-equally ast-col-md-6 ast-col-xs-12">
									<div class="footer-primary-navigation">
										<ul id="menu-footer" class="nav-menu">
											<li id="menu-item-14759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14759"><a href="https://jorjafox.net/tos/" class="menu-link">Terms of Use</a></li>
											<li id="menu-item-13717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13717"><a href="https://jorjafox.net/tos/copyrights/" class="menu-link">Copyright</a></li>
											<li id="menu-item-14767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-14767"><a href="https://jorjafox.net/tos/privacy/" class="menu-link">Privacy Policy</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div> <!-- End hfeed site -->

	<script src='https://jorjafox.net/wordpress/wp-content/themes/astra/assets/js/minified/style.min.js?ver={{ .Site.Params.Version }}' id='astra-theme-js-js'></script>

	<script id='astra-addon-js-js-extra'>
		var astraAddon = {"sticky_active":"1","header_main_stick":"1","header_above_stick":"0","header_below_stick":"0","stick_header_meta":"","header_main_stick_meta":"","header_above_stick_meta":"","header_below_stick_meta":"","sticky_header_on_devices":"desktop","sticky_header_style":"slide","sticky_hide_on_scroll":"0","break_point":"921","tablet_break_point":"768","mobile_break_point":"544","header_main_shrink":"1","header_logo_width":"","responsive_header_logo_width":{"desktop":"50","tablet":"","mobile":"120"},"stick_origin_position":"","site_layout":"","site_content_width":"1240","site_layout_padded_width":"1200","site_layout_box_width":"1200"};
	</script>

	<script src='{{ .Site.Params.StaticURL }}/content/code/astra-addon.php?type=js&ver={{ .Site.Params.Version }}'></script>

</body>
</html>
