{{ $rating := "na" }}

{{ if .Params.rating }}
	{{ $rating = .Params.rating}}
{{ else if .Page.Scratch.Get "goldstar" }}
	{{ $rating = .Page.Scratch.Get "goldstar" }}
{{ end }}

{{ $grade := print $rating "-gold" }}

{{ if eq $rating "na" }}
	{{ $grade = "red" }}
{{ end }}
<div class="star-rating"><a href="/library/faq/grading/#{{ $grade }}-stars" title="Star Rating: {{ $rating }}">
	{{ if eq $rating "na" }}
		{{ $star := 0 }}
		{{ range $star, $seqstar := ( seq 5 ) }}<span class="star-rating star-red">{{ partial "svg.html" "star" }}</span>{{ end }}
	{{ else }}
		{{ $goldstars := (float $rating) }}
		{{ $greyrate := sub 5 $goldstars }}
		{{ range ( seq $rating ) }}<span class="star-rating star-gold">{{ partial "svg.html" "star" }}</span>{{ end }}{{ range $stargrey, $seqgrey := ( seq $greyrate ) }}<span class="star-rating star-grey">{{ partial "svg.html" "star" }}</span>{{ end }}
	{{ end }}
</a></div>
