	<div class="widget-area secondary" id="secondary" role="complementary" itemtype="https://schema.org/WPSideBar" itemscope="itemscope">
		<div class="sidebar-main">
			<aside id="nav_menu-2" class="widget widget_nav_menu">
				<h2 class="widget-title">Information</h2>
				<div class="menu-sidebar-container">
					<ul id="menu-sidebar" class="menu">
						<li id="menu-item-14522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14522">
							<a href="https://jorjafox.net/about/" class="menu-link">About This Site</a>
						</li>
						<li id="menu-item-13468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13468">
							<a href="https://jorjafox.net/contact/" class="menu-link">Contact Us</a>
						</li>
						<li id="menu-item-15250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15250">
							<a href="https://jorjafox.net/updates/" class="menu-link">Subscribe</a>
						</li>
						<li id="menu-item-13469" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13469">
							<a href="https://jorjafox.net/library/faq/" class="menu-link">Frequently Asked Questions</a>
						</li>
					</ul>
				</div>
			</aside>
			<aside id="custom_html-23" class="widget_text widget widget_custom_html">
				<div class="textwidget custom-html-widget">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

					<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7868382837959636" data-ad-slot="2235271514" data-ad-format="auto" data-full-width-responsive="true"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</aside>
		</div>
	</div>
