		<aside class="sidebar sidebar-primary widget-area" role="complementary" itemscope="itemscope" itemtype="http://schema.org/WPSideBar" id="genwpacc-sidebar-primary">

		<section id="nav_menu-3" class="widget widget_nav_menu"><div class="widget-wrap">
			<h3 class="widgettitle widget-title">Information</h3>
			<div class="menu-secondary-container"><ul id="menu-secondary" class="menu">
				<li id="menu-item-13467" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13467"><a href="{{ .Site.Params.HomeURL }}/about/">About This Site</a></li>
				<li id="menu-item-4227" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4227"><a href="{{ .Site.Params.HomeURL }}/contact/">Contact Us</a></li>
				<li id="menu-item-4226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4226"><a href="{{ .Site.Params.HomeURL }}/library/faq/">Frequently Asked Questions</a></li>
			</ul></div>
		</div></section>

		<section id="text-15" class="widget widget_text"><div class="widget-wrap">
			<div class="textwidget">
				<div class="adboxes-sidebar">
					<a target="_blank" href="https://shareasale.com/r.cfm?b=1321322&amp;u=728549&amp;m=41388&amp;urllink=&amp;afftrack="><img src="https://static.shareasale.com/image/41388/53-StudioPressThemes-300x250-5289.png" alt="StudioPress Themes" border="0" /></a>
				</div>
			</div>
		</div></section>
</aside>
