{{ if eq .Type "actor" }}

	{{ $goldstar := seq .Params.rating }}
	{{ $goldstar := len $goldstar }}

	<div class="star-rating"><a href="/library/faq/grading" title="Star Rating: {{ .Params.rating }}">{{ if ge $goldstar "0" }}{{ range $star, seq $goldstar }}<i style="color:gold;" class="fa fa-star" name="star"></i>{{ end }}{{ $greystar := sub 5 $goldstar }}{{ range $star, seq $greystar }}<i style="color:grey;" class="fa fa-star" name="star"></i>{{ end }}{{ else }}{{ range $star, seq 5 }}<i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i>{{ end }}{{ end }}</a></div>

{{ else if eq .Type "recaps" }}

	{{ $showslug := .Params.showslug }}
	{{ $eptitle  := .Title }}
	{{ range $.Site.Data.episodes }}

		{{ if eq .show $showslug }}
			{{ range .episodes }}
				{{ if eq .title $eptitle }}

					{{ $goldstar := seq .rating }}
					{{ $goldstar := len $goldstar }}

					<div class="star-rating"><a href="/library/faq/grading" title="Star Rating: {{ .Params.rating }}">{{ if ge $goldstar "0" }}{{ range $star, seq $goldstar }}<i style="color:gold;" class="fa fa-star" name="star"></i>{{ end }}{{ $greystar := sub 5 $goldstar }}{{ range $star, seq $greystar }}<i style="color:grey;" class="fa fa-star" name="star"></i>{{ end }}{{ else }}{{ range $star, seq 5 }}<i style="color:red;" class="fa fa-star-o fa-rotate-normal" name="empty star"></i>{{ end }}{{ end }}</a></div>
				{{ end }}
			{{ end }}
		{{ end }}

	{{ end }}

{{ end }}